# GROUP ASSIGNMENT - RMBA-2771 Fall 2025

Date: 23.09.2025 

Course: 2771 Research Methods for Business Analytics 

Instructor: Daniel Obermeier

Group: TXB B18

Henrik Peuker 72636

### Table of content

Select the hyperling to go to the respective section

- [1 Executive Summary](#1-executive-summary)
- [2 Introduction](#2-introduction)
- [3 Exploratory Analyis](#3-exploratory-analysis)
- [4 Method 1](#4-method-1)
- [5 Method 2](#5-method-2)
  - [5.1 Creating the model](#51-creating-the-model)
  - [5.2 Interpreting the outcome](#52-interpreting-the-outcome)
    - [5.2.1 Goodness-of-fit](#521-goodness-of-fit)
    - [5.2.2 Hypothesis testing](#522-hypothesis-testing)
    - [5.2.3 Odds ration](#523-odds-ratio)
- [6 Reflection on the use of AI](#6-reflection-on-the-use-of-ai)
- [7 Conclusion](#7-conclusion)

# 1. Executive Summary

# 2. Introduction

The data set "HR-Employee-Attrition" includes individual records of employees. Each row represents an individual employee, while the columns capture several demographic, educational, job-related and performance-related attributes. One of the main variables is Attrition, which shos if an employee has left the company. Attrition is recorded as a binary variable. 
The dataset includes variables such as age, gender, marital status, education level, job satisfaction, income. There is a mix of categorical, ordinal and numeric types which allows for a detailed analysis. 

When looking at the data set we have identified a novel, relevant and interesting research question regarding attrition  

The following research question serves as a guiding question for the analysis. To what extent do business travel frequency, distance from home, and income influence voluntary employee attrition?





To what extend do different job characteristics affect voluntary attrition? 

H1: 
Higher business travel frequency is positively associated with voluntary employee attrition.
Test: Chi-Square Tests or Logistic Regression

H2: Higher income is negatively associated with voluntary employee attrition?

H2: 
The relationship between business travel and voluntary attrition is stronger among married couples than singles.
Test: Chi-Square  or Logistic Regression


How do distance from home, income etc affect voluntary attrition?

Research Question: Does promotion stagnation increase attrition, and is this effect affected by age?

H1: More years since last promotion are associated with higher attrition risk. 
H2: 
H3;:

# 3. Exploratory Analysis

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%pip install statsmodels
from statsmodels.stats.proportion import proportions_ztest
import statsmodels.formula.api as smf

Requirement already satisfied: statsmodels in /Users/henrikpeuker/anaconda3/lib/python3.11/site-packages (0.14.0)
Requirement already satisfied: numpy>=1.18 in /Users/henrikpeuker/anaconda3/lib/python3.11/site-packages (from statsmodels) (1.24.3)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in /Users/henrikpeuker/anaconda3/lib/python3.11/site-packages (from statsmodels) (1.11.1)
Requirement already satisfied: pandas>=1.0 in /Users/henrikpeuker/anaconda3/lib/python3.11/site-packages (from statsmodels) (2.0.3)
Requirement already satisfied: patsy>=0.5.2 in /Users/henrikpeuker/anaconda3/lib/python3.11/site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in /Users/henrikpeuker/anaconda3/lib/python3.11/site-packages (from statsmodels) (23.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/henrikpeuker/anaconda3/lib/python3.11/site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/henrikpeuker/anaconda3/lib/python3.11/site-packages (from pandas>=1.0->statsmodels) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/henrikpeuker/anaconda3/lib/python3.11/site-packages (from pandas>=1.0->statsmodels) (2023.3)
Requirement already satisfied: six in /Users/henrikpeuker/anaconda3/lib/python3.11/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
# Importing the data set and assigning it to the varible df 
df= pd.read_csv("HR-Employee-Attrition.csv")

In [18]:
# Creating a summary table to see the number of variable and the types to come up with a research question and get an overview of the data. 
summary_df = pd.DataFrame({
    "Variable": df.columns,
    "Type": [df[col].dtype.name for col in df.columns],
})

# Showing the summary, int64 are numerical values, whereas objects are categorical or binary values. 
print(summary_df)

                    Variable    Type
0                        Age   int64
1                  Attrition  object
2             BusinessTravel  object
3                  DailyRate   int64
4                 Department  object
5           DistanceFromHome   int64
6                  Education   int64
7             EducationField  object
8              EmployeeCount   int64
9             EmployeeNumber   int64
10   EnvironmentSatisfaction   int64
11                    Gender  object
12                HourlyRate   int64
13            JobInvolvement   int64
14                  JobLevel   int64
15                   JobRole  object
16           JobSatisfaction   int64
17             MaritalStatus  object
18             MonthlyIncome   int64
19               MonthlyRate   int64
20        NumCompaniesWorked   int64
21                    Over18  object
22                  OverTime  object
23         PercentSalaryHike   int64
24         PerformanceRating   int64
25  RelationshipSatisfaction   int64
26             StandardHours   int64
27          StockOptionLevel   int64
28         TotalWorkingYears   int64
29     TrainingTimesLastYear   int64
30           WorkLifeBalance   int64
31            YearsAtCompany   int64
32        YearsInCurrentRole   int64
33   YearsSinceLastPromotion   int64
34      YearsWithCurrManager   int64

In [19]:
pd.set_option('display.max_columns', None)
print(df.head(20))

    Age Attrition     BusinessTravel  DailyRate              Department  \
0    41       Yes      Travel_Rarely       1102                   Sales
1    49        No  Travel_Frequently        279  Research & Development
2    37       Yes      Travel_Rarely       1373  Research & Development
3    33        No  Travel_Frequently       1392  Research & Development
4    27        No      Travel_Rarely        591  Research & Development
5    32        No  Travel_Frequently       1005  Research & Development
6    59        No      Travel_Rarely       1324  Research & Development
7    30        No      Travel_Rarely       1358  Research & Development
8    38        No  Travel_Frequently        216  Research & Development
9    36        No      Travel_Rarely       1299  Research & Development
10   35        No      Travel_Rarely        809  Research & Development
11   29        No      Travel_Rarely        153  Research & Development
12   31        No      Travel_Rarely        670  Research & Development
13   34        No      Travel_Rarely       1346  Research & Development
14   28       Yes      Travel_Rarely        103  Research & Development
15   29        No      Travel_Rarely       1389  Research & Development
16   32        No      Travel_Rarely        334  Research & Development
17   22        No         Non-Travel       1123  Research & Development
18   53        No      Travel_Rarely       1219                   Sales
19   38        No      Travel_Rarely        371  Research & Development

    DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                  1          2  Life Sciences              1               1
1                  8          1  Life Sciences              1               2
2                  2          2          Other              1               4
3                  3          4  Life Sciences              1               5
4                  2          1        Medical              1               7
5                  2          2  Life Sciences              1               8
6                  3          3        Medical              1              10
7                 24          1  Life Sciences              1              11
8                 23          3  Life Sciences              1              12
9                 27          3        Medical              1              13
10                16          3        Medical              1              14
11                15          2  Life Sciences              1              15
12                26          1  Life Sciences              1              16
13                19          2        Medical              1              18
14                24          3  Life Sciences              1              19
15                21          4  Life Sciences              1              20
16                 5          2  Life Sciences              1              21
17                16          2        Medical              1              22
18                 2          4  Life Sciences              1              23
19                 2          3  Life Sciences              1              24

    EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                         2  Female          94               3         2
1                         3    Male          61               2         2
2                         4    Male          92               2         1
3                         4  Female          56               3         1
4                         1    Male          40               3         1
5                         4    Male          79               3         1
6                         3  Female          81               4         1
7                         4    Male          67               3         1
8                         4    Male          44               2         3
9                         3    Male          94               3         2
10                        1    Male          84               4         1
11                        4  Female          49               2         2
12                        1    Male          31               3         1
13                        2    Male          93               3         1
14                        3    Male          50               2         1
15                        2  Female          51               4         3
16                        1    Male          80               4         1
17                        4    Male          96               4         1
18                        1  Female          78               2         4
19                        4    Male          45               3         1

                      JobRole  JobSatisfaction MaritalStatus  MonthlyIncome  \
0             Sales Executive                4        Single           5993
1          Research Scientist                2       Married           5130
2       Laboratory Technician                3        Single           2090
3          Research Scientist                3       Married           2909
4       Laboratory Technician                2       Married           3468
5       Laboratory Technician                4        Single           3068
6       Laboratory Technician                1       Married           2670
7       Laboratory Technician                3      Divorced           2693
8      Manufacturing Director                3        Single           9526
9   Healthcare Representative                3       Married           5237
10      Laboratory Technician                2       Married           2426
11      Laboratory Technician                3        Single           4193
12         Research Scientist                3      Divorced           2911
13      Laboratory Technician                4      Divorced           2661
14      Laboratory Technician                3        Single           2028
15     Manufacturing Director                1      Divorced           9980
16         Research Scientist                2      Divorced           3298
17      Laboratory Technician                4      Divorced           2935
18                    Manager                4       Married          15427
19         Research Scientist                4        Single           3944

    MonthlyRate  NumCompaniesWorked Over18 OverTime  PercentSalaryHike  \
0         19479                   8      Y      Yes                 11
1         24907                   1      Y       No                 23
2          2396                   6      Y      Yes                 15
3         23159                   1      Y      Yes                 11
4         16632                   9      Y       No                 12
5         11864                   0      Y       No                 13
6          9964                   4      Y      Yes                 20
7         13335                   1      Y       No                 22
8          8787                   0      Y       No                 21
9         16577                   6      Y       No                 13
10        16479                   0      Y       No                 13
11        12682                   0      Y      Yes                 12
12        15170                   1      Y       No                 17
13         8758                   0      Y       No                 11
14        12947                   5      Y      Yes                 14
15        10195                   1      Y       No                 11
16        15053                   0      Y      Yes                 12
17         7324                   1      Y      Yes                 13
18        22021                   2      Y       No                 16
19         4306                   5      Y      Yes                 11

    PerformanceRating  RelationshipSatisfaction  StandardHours  \
0                   3                         1             80
1                   4                         4             80
2                   3                         2             80
3                   3                         3             80
4                   3                         4             80
5                   3                         3             80
6                   4                         1             80
7                   4                         2             80
8                   4                         2             80
9                   3                         2             80
10                  3                         3             80
11                  3                         4             80
12                  3                         4             80
13                  3                         3             80
14                  3                         2             80
15                  3                         3             80
16                  3                         4             80
17                  3                         2             80
18                  3                         3             80
19                  3                         3             80

    StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                  0                  8                      0
1                  1                 10                      3
2                  0                  7                      3
3                  0                  8                      3
4                  1                  6                      3
5                  0                  8                      2
6                  3                 12                      3
7                  1                  1                      2
8                  0                 10                      2
9                  2                 17                      3
10                 1                  6                      5
11                 0                 10                      3
12                 1                  5                      1
13                 1                  3                      2
14                 0                  6                      4
15                 1                 10                      1
16                 2                  7                      5
17                 2                  1                      2
18                 0                 31                      3
19                 0                  6                      3

    WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0                 1               6                   4
1                 3              10                   7
2                 3               0                   0
3                 3               8                   7
4                 3               2                   2
5                 2               7                   7
6                 2               1                   0
7                 3               1                   0
8                 3               9                   7
9                 2               7                   7
10                3               5                   4
11                3               9                   5
12                2               5                   2
13                3               2                   2
14                3               4                   2
15                3              10                   9
16                2               6                   2
17                2               1                   0
18                3              25                   8
19                3               3                   2

    YearsSinceLastPromotion  YearsWithCurrManager
0                         0                     5
1                         1                     7
2                         0                     0
3                         3                     0
4                         2                     2
5                         3                     6
6                         0                     0
7                         0                     0
8                         1                     8
9                         7                     7
10                        0                     3
11                        0                     8
12                        4                     3
13                        1                     2
14                        0                     3
15                        8                     8
16                        0                     5
17                        0                     0
18                        3                     7
19                        1                     2

In [20]:
# Count unique values for the specified columns because we identified columns that are constant and therefore irrelevant for the analysis.
print("StandardHours value counts:")
print(df["StandardHours"].value_counts())

print("\nOver18 value counts:")
print(df["Over18"].value_counts())

print("\nEmployeeCount value counts:")
print(df["EmployeeCount"].value_counts())

# Drop the columns due to the described reasons.
df.drop(columns=["StandardHours", "Over18", "EmployeeCount"], inplace=True)

StandardHours value counts:
StandardHours
80    1470
Name: count, dtype: int64

Over18 value counts:
Over18
Y    1470
Name: count, dtype: int64

EmployeeCount value counts:
EmployeeCount
1    1470
Name: count, dtype: int64

In [21]:
# 3. Drop any exact duplicate rows
df.drop_duplicates(inplace=True)
print("After dropping duplicates:", df.shape)

# 4. Check for missing values
print("Missing per column:\n", df.isnull().sum())

# 5. Fill missing values
#    - For text (object) columns → “Unknown”
#    - For numeric columns → 0
for col in df.columns:
    if df[col].dtype == "object":
        df[col].fillna("Unknown", inplace=True)
    else:
        df[col].fillna(0, inplace=True)

# 6. Drop columns that won’t vary and aren’t informative
to_drop = ["EmployeeCount", "StandardHours", "Over18"]
for c in to_drop:
    if c in df.columns:
        df.drop(columns=c, inplace=True)

# 8. Re-inspect to confirm
print(df.head())
print(df.info())

After dropping duplicates: (1470, 32)
Missing per column:
 Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64
   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeNumber  \
0                 1          2  Life Sciences               1
1                 8          1  Life Sciences               2
2                 2          2          Other               4
3                 3          4  Life Sciences               5
4                 2          1        Medical               7

   EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                        2  Female          94               3         2
1                        3    Male          61               2         2
2                        4    Male          92               2         1
3                        4  Female          56               3         1
4                        1    Male          40               3         1

                 JobRole  JobSatisfaction MaritalStatus  MonthlyIncome  \
0        Sales Executive                4        Single           5993
1     Research Scientist                2       Married           5130
2  Laboratory Technician                3        Single           2090
3     Research Scientist                3       Married           2909
4  Laboratory Technician                2       Married           3468

   MonthlyRate  NumCompaniesWorked OverTime  PercentSalaryHike  \
0        19479                   8      Yes                 11
1        24907                   1       No                 23
2         2396                   6      Yes                 15
3        23159                   1      Yes                 11
4        16632                   9       No                 12

   PerformanceRating  RelationshipSatisfaction  StockOptionLevel  \
0                  3                         1                 0
1                  4                         4                 1
2                  3                         2                 0
3                  3                         3                 0
4                  3                         4                 1

   TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
0                  8                      0                1               6
1                 10                      3                3              10
2                  7                      3                3               0
3                  8                      3                3               8
4                  6                      3                3               2

   YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                   4                        0                     5
1                   7                        1                     7
2                   0                        0                     0
3                   7                        3                     0
4                   2                        2                     2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeNumber            1470 non-null   int64
 9   EnvironmentSatisfaction   1470 non-null   int64
 10  Gender                    1470 non-null   object
 11  HourlyRate                1470 non-null   int64
 12  JobInvolvement            1470 non-null   int64
 13  JobLevel                  1470 non-null   int64
 14  JobRole                   1470 non-null   object
 15  JobSatisfaction           1470 non-null   int64
 16  MaritalStatus             1470 non-null   object
 17  MonthlyIncome             1470 non-null   int64
 18  MonthlyRate               1470 non-null   int64
 19  NumCompaniesWorked        1470 non-null   int64
 20  OverTime                  1470 non-null   object
 21  PercentSalaryHike         1470 non-null   int64
 22  PerformanceRating         1470 non-null   int64
 23  RelationshipSatisfaction  1470 non-null   int64
 24  StockOptionLevel          1470 non-null   int64
 25  TotalWorkingYears         1470 non-null   int64
 26  TrainingTimesLastYear     1470 non-null   int64
 27  WorkLifeBalance           1470 non-null   int64
 28  YearsAtCompany            1470 non-null   int64
 29  YearsInCurrentRole        1470 non-null   int64
 30  YearsSinceLastPromotion   1470 non-null   int64
 31  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(24), object(8)
memory usage: 367.6+ KB
None

# 4. Method 1

In this code we do some basic exploratory analysis to get an overview of the data set. Firstly, we assess the data set to ensure we identified interesting variables. Next we checked for duplicates and missing values but could not find any. For text entries we used "Unknwon" and for numeric we used 0. Lastly, we have decided to drop columns that are not adding value in example "EmployeeCount", "StandardHours", "Over18". The entries in these columns are all the same and therefore do not add much value.

In [22]:
# Importing the data set, I used trial and error for the encoding. 
df= pd.read_csv("HR-Employee-Attrition.csv", encoding="latin1")

# 1. Load the data
df = pd.read_csv("HR-Employee-Attrition.csv")

# 2. Peek at the top and structure
print(df.head())      # first 5 rows
print(df.info())      # column types & non-null counts

# 3. Drop any exact duplicate rows
df.drop_duplicates(inplace=True)
print("After dropping duplicates:", df.shape)

# 4. Check for missing values
print("Missing per column:\n", df.isnull().sum())

# 5. Fill missing values
#    - For text (object) columns → “Unknown”
#    - For numeric columns → 0
for col in df.columns:
    if df[col].dtype == "object":
        df[col].fillna("Unknown", inplace=True)
    else:
        df[col].fillna(0, inplace=True)

# 6. Drop columns that won’t vary and aren’t informative
to_drop = ["EmployeeCount", "StandardHours", "Over18"]
for c in to_drop:
    if c in df.columns:
        df.drop(columns=c, inplace=True)

# 8. Re-inspect to confirm
print(df.head())
print(df.info())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                        2  Female          94               3         2
1                        3    Male          61               2         2
2                        4    Male          92               2         1
3                        4  Female          56               3         1
4                        1    Male          40               3         1

                 JobRole  JobSatisfaction MaritalStatus  MonthlyIncome  \
0        Sales Executive                4        Single           5993
1     Research Scientist                2       Married           5130
2  Laboratory Technician                3        Single           2090
3     Research Scientist                3       Married           2909
4  Laboratory Technician                2       Married           3468

   MonthlyRate  NumCompaniesWorked Over18 OverTime  PercentSalaryHike  \
0        19479                   8      Y      Yes                 11
1        24907                   1      Y       No                 23
2         2396                   6      Y      Yes                 15
3        23159                   1      Y      Yes                 11
4        16632                   9      Y       No                 12

   PerformanceRating  RelationshipSatisfaction  StandardHours  \
0                  3                         1             80
1                  4                         4             80
2                  3                         2             80
3                  3                         3             80
4                  3                         4             80

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                 0                  8                      0
1                 1                 10                      3
2                 0                  7                      3
3                 0                  8                      3
4                 1                  6                      3

   WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0                1               6                   4
1                3              10                   7
2                3               0                   0
3                3               8                   7
4                3               2                   2

   YearsSinceLastPromotion  YearsWithCurrManager
0                        0                     5
1                        1                     7
2                        0                     0
3                        3                     0
4                        2                     2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB
None
After dropping duplicates: (1470, 35)
Missing per column:
 Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64
   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeNumber  \
0                 1          2  Life Sciences               1
1                 8          1  Life Sciences               2
2                 2          2          Other               4
3                 3          4  Life Sciences               5
4                 2          1        Medical               7

   EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                        2  Female          94               3         2
1                        3    Male          61               2         2
2                        4    Male          92               2         1
3                        4  Female          56               3         1
4                        1    Male          40               3         1

                 JobRole  JobSatisfaction MaritalStatus  MonthlyIncome  \
0        Sales Executive                4        Single           5993
1     Research Scientist                2       Married           5130
2  Laboratory Technician                3        Single           2090
3     Research Scientist                3       Married           2909
4  Laboratory Technician                2       Married           3468

   MonthlyRate  NumCompaniesWorked OverTime  PercentSalaryHike  \
0        19479                   8      Yes                 11
1        24907                   1       No                 23
2         2396                   6      Yes                 15
3        23159                   1      Yes                 11
4        16632                   9       No                 12

   PerformanceRating  RelationshipSatisfaction  StockOptionLevel  \
0                  3                         1                 0
1                  4                         4                 1
2                  3                         2                 0
3                  3                         3                 0
4                  3                         4                 1

   TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
0                  8                      0                1               6
1                 10                      3                3              10
2                  7                      3                3               0
3                  8                      3                3               8
4                  6                      3                3               2

   YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                   4                        0                     5
1                   7                        1                     7
2                   0                        0                     0
3                   7                        3                     0
4                   2                        2                     2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeNumber            1470 non-null   int64
 9   EnvironmentSatisfaction   1470 non-null   int64
 10  Gender                    1470 non-null   object
 11  HourlyRate                1470 non-null   int64
 12  JobInvolvement            1470 non-null   int64
 13  JobLevel                  1470 non-null   int64
 14  JobRole                   1470 non-null   object
 15  JobSatisfaction           1470 non-null   int64
 16  MaritalStatus             1470 non-null   object
 17  MonthlyIncome             1470 non-null   int64
 18  MonthlyRate               1470 non-null   int64
 19  NumCompaniesWorked        1470 non-null   int64
 20  OverTime                  1470 non-null   object
 21  PercentSalaryHike         1470 non-null   int64
 22  PerformanceRating         1470 non-null   int64
 23  RelationshipSatisfaction  1470 non-null   int64
 24  StockOptionLevel          1470 non-null   int64
 25  TotalWorkingYears         1470 non-null   int64
 26  TrainingTimesLastYear     1470 non-null   int64
 27  WorkLifeBalance           1470 non-null   int64
 28  YearsAtCompany            1470 non-null   int64
 29  YearsInCurrentRole        1470 non-null   int64
 30  YearsSinceLastPromotion   1470 non-null   int64
 31  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(24), object(8)
memory usage: 367.6+ KB
None

In [23]:
# Simply checking the scale of the numeric columns 
cols_to_check = [
    'DistanceFromHome', 'Education', 'EnvironmentSatisfaction',
    'HourlyRate', 'JobInvolvement', 'JobLevel',
    'JobSatisfaction', 'RelationshipSatisfaction', 'WorkLifeBalance'
]

# Loop through each column and print min and max
for col in cols_to_check:
    min_val = df[col].min()
    max_val = df[col].max()
    print(f"{col}: Min = {min_val}, Max = {max_val}")

DistanceFromHome: Min = 1, Max = 29
Education: Min = 1, Max = 5
EnvironmentSatisfaction: Min = 1, Max = 4
HourlyRate: Min = 30, Max = 100
JobInvolvement: Min = 1, Max = 4
JobLevel: Min = 1, Max = 5
JobSatisfaction: Min = 1, Max = 4
RelationshipSatisfaction: Min = 1, Max = 4
WorkLifeBalance: Min = 1, Max = 4

In [24]:
# Detect outliers using the IQR method for numerical columns, this is not really necessary because our variable are nominal and therefore do not have outliers.
numeric_cols = df.select_dtypes(include='number').columns
outlier_summary = {}

for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    outlier_summary[col] = outliers.shape[0]

print("Outlier counts per column:")
print(outlier_summary)

# Check for irregularities in categorical columns
categorical_cols = df.select_dtypes(include='object').columns
for col in categorical_cols:
    print(f"\nUnique values in '{col}':")
    print(df[col].value_counts(dropna=False))

Outlier counts per column:
{'Age': 0, 'DailyRate': 0, 'DistanceFromHome': 0, 'Education': 0, 'EmployeeNumber': 0, 'EnvironmentSatisfaction': 0, 'HourlyRate': 0, 'JobInvolvement': 0, 'JobLevel': 0, 'JobSatisfaction': 0, 'MonthlyIncome': 114, 'MonthlyRate': 0, 'NumCompaniesWorked': 52, 'PercentSalaryHike': 0, 'PerformanceRating': 226, 'RelationshipSatisfaction': 0, 'StockOptionLevel': 85, 'TotalWorkingYears': 63, 'TrainingTimesLastYear': 238, 'WorkLifeBalance': 0, 'YearsAtCompany': 104, 'YearsInCurrentRole': 21, 'YearsSinceLastPromotion': 107, 'YearsWithCurrManager': 14}

Unique values in 'Attrition':
Attrition
No     1233
Yes     237
Name: count, dtype: int64

Unique values in 'BusinessTravel':
BusinessTravel
Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: count, dtype: int64

Unique values in 'Department':
Department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64

Unique values in 'EducationField':
EducationField
Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: count, dtype: int64

Unique values in 'Gender':
Gender
Male      882
Female    588
Name: count, dtype: int64

Unique values in 'JobRole':
JobRole
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: count, dtype: int64

Unique values in 'MaritalStatus':
MaritalStatus
Married     673
Single      470
Divorced    327
Name: count, dtype: int64

Unique values in 'OverTime':
OverTime
No     1054
Yes     416
Name: count, dtype: int64

H1. There is no difference in levels of attrition among low-travelers and high travelers.

In [25]:

from scipy.stats import chi2_contingency

# 1. Build the contingency table
contingency_table = pd.crosstab(
    df['Attrition'],
    df['BusinessTravel']
)

# 2. Run the chi-square test
chi2, p, dof, expected = chi2_contingency(contingency_table)

# 3. Output the results
print("Contingency Table:")
print(contingency_table)

print(f"\nChi2 Statistic: {chi2:.4f}")
print(f"P-Value: {p:.4f}")
print(f"Degrees of Freedom: {dof}")

print("\nExpected Frequencies:")
print(pd.DataFrame(
    expected,
    index=contingency_table.index,
    columns=contingency_table.columns
))

Contingency Table:
BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No                     138                208            887
Yes                     12                 69            156

Chi2 Statistic: 24.1824
P-Value: 0.0000
Degrees of Freedom: 2

Expected Frequencies:
BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No              125.816327         232.340816     874.842857
Yes              24.183673          44.659184     168.157143

This implies that attrition and travel frequency are not unrelated. The contigency table shows that far fewer travelers choose to leave the company than if the observations were independent. And far more frequent travelers choose to leave the company.

In [26]:
# 1. Define low- and high-travel groups
low_travel = df['BusinessTravel'].isin(['Non-Travel', 'Travel_Rarely'])
high_travel = df['BusinessTravel'] == 'Travel_Frequently'

# 2. Count attriters in each group
count_low  = df.loc[low_travel,  'Attrition'].eq('Yes').sum()
nobs_low   = low_travel.sum()

count_high = df.loc[high_travel, 'Attrition'].eq('Yes').sum()
nobs_high  = high_travel.sum()

# 3. Perform two-proportions z-test (one-sided: low < high)
stat, pval = proportions_ztest(
    count  = [count_low, count_high],
    nobs    = [nobs_low,   nobs_high],
    alternative = 'smaller'
)

print(f"Low-travel attrition rate:  {count_low}/{nobs_low:.0f} = {count_low/nobs_low:.3f}")
print(f"High-travel attrition rate: {count_high}/{nobs_high:.0f} = {count_high/nobs_high:.3f}")
print(f"\nZ-statistic = {stat:.3f},  one-sided p-value = {pval:.4f}")

Low-travel attrition rate:  168/1193 = 0.141
High-travel attrition rate: 69/277 = 0.249

Z-statistic = -4.415,  one-sided p-value = 0.0000

Looking at the low p-value there is significant evidence that the high travel attrition rate is significantly higher than the low travel attrition rate.

# 5. Method 2

## 5.1 Creating the model

In [30]:
print(summary_df)

                    Variable    Type
0                        Age   int64
1                  Attrition  object
2             BusinessTravel  object
3                  DailyRate   int64
4                 Department  object
5           DistanceFromHome   int64
6                  Education   int64
7             EducationField  object
8              EmployeeCount   int64
9             EmployeeNumber   int64
10   EnvironmentSatisfaction   int64
11                    Gender  object
12                HourlyRate   int64
13            JobInvolvement   int64
14                  JobLevel   int64
15                   JobRole  object
16           JobSatisfaction   int64
17             MaritalStatus  object
18             MonthlyIncome   int64
19               MonthlyRate   int64
20        NumCompaniesWorked   int64
21                    Over18  object
22                  OverTime  object
23         PercentSalaryHike   int64
24         PerformanceRating   int64
25  RelationshipSatisfaction   int64
26             StandardHours   int64
27          StockOptionLevel   int64
28         TotalWorkingYears   int64
29     TrainingTimesLastYear   int64
30           WorkLifeBalance   int64
31            YearsAtCompany   int64
32        YearsInCurrentRole   int64
33   YearsSinceLastPromotion   int64
34      YearsWithCurrManager   int64

In [35]:
# Encode Attrition as 0/1
df['attrit_bin'] = df['Attrition'].map({'No': 0, 'Yes': 1})

# Fit logistic regression

model = smf.logit('attrit_bin ~ BusinessTravel + MaritalStatus + MonthlyIncome + DistanceFromHome + WorkLifeBalance + PerformanceRating + JobSatisfaction + EnvironmentSatisfaction', data=df).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.387370
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:             attrit_bin   No. Observations:                 1470
Model:                          Logit   Df Residuals:                     1459
Method:                           MLE   Df Model:                           10
Date:                Tue, 23 Sep 2025   Pseudo R-squ.:                  0.1230
Time:                        15:45:19   Log-Likelihood:                -569.43
converged:                       True   LL-Null:                       -649.29
Covariance Type:            nonrobust   LLR p-value:                 3.712e-29
=======================================================================================================
                                          coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------
Intercept                              -0.2907      0.852     -0.341      0.733      -1.961       1.380
BusinessTravel[T.Travel_Frequently]     1.4546      0.346      4.199      0.000       0.776       2.134
BusinessTravel[T.Travel_Rarely]         0.7772      0.326      2.387      0.017       0.139       1.415
MaritalStatus[T.Married]                0.2349      0.225      1.042      0.297      -0.207       0.676
MaritalStatus[T.Single]                 1.1332      0.221      5.116      0.000       0.699       1.567
MonthlyIncome                          -0.0001   2.27e-05     -5.651      0.000      -0.000   -8.39e-05
DistanceFromHome                        0.0306      0.009      3.422      0.001       0.013       0.048
WorkLifeBalance                        -0.2424      0.105     -2.315      0.021      -0.448      -0.037
PerformanceRating                      -0.0430      0.209     -0.206      0.837      -0.453       0.367
JobSatisfaction                        -0.3082      0.068     -4.545      0.000      -0.441      -0.175
EnvironmentSatisfaction                -0.2840      0.068     -4.160      0.000      -0.418      -0.150
=======================================================================================================

## 5.2 Interpreting the outcome

### 5.2.1 Goodness-of-fit

### 5.2.2 Hypothesis testing

### 5.2.3 Odds ratio

In [ ]:
mcfadden_r2 = 1 - (model.llf / model.llnull)
print(f"McFadden's pseudo R-squared: {mcfadden_r2}")

#Cox & Snell R-Squared
n = len(df)  # number of observations
cox_snell_r2 = 1 - np.exp((model.llnull - model.llf) * 2 / n)
print(f"Cox & Snell pseudo R-squared: {cox_snell_r2}")

# Nagelkerke R-Squared
nagelkerke_r2 = cox_snell_r2 / (1 - np.exp(-model.llnull * 2 / n))
print(f"Nagelkerke pseudo R-squared: {nagelkerke_r2}")

McFadden's pseudo R-squared: 0.05142256871498918
Cox & Snell pseudo R-squared: 0.04440984118616731
Nagelkerke pseudo R-squared: -0.03129468939990255

#### Interpretation

We can argue that the model is not very useful for predictions due to the the low R-squared values. It can still be used for hypothesis testing.

# 6. Reflection on the use of AI

We primarily used AI to help us solving issues. Our main contribution was finding the problems that require a solution. (...)

# 7. Conclusion